div.syn_content_mirror {
  white-space: pre-wrap;
}

div#core_panel_bottom_app {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}
.syn_editor {
  display: block;
  float: left;
  width: 77%; /* Place Connection on Right */
}
button.syn_commit {
  width: auto;
  display: block;
  clear: left;
}

editor {
  min-height: 4em;
  display: block;
  white-space: pre-wrap;
}

editor .cursor {
  display: inline;
  border-left: solid 2px var(--color-primary);
  margin-right: -2px;
  z-index: 10;
  position: relative;
}

.syn_connection {
  display: block;
  float: right;
  width: 20%;
  position: absolute;
  top: -8px;
  right: 10px;
}
.syn_connection input {
  width: 100%;
  margin: 0px auto;
  font-size: 50%;
}
.syn_connection label{
  font-size: 50%;
}
button.syn_connect {
    margin-top: 10px;
}
.syn_sessions {
  margin-top: 20px;
}
.syn_session {
  float: right;
  display: block;
  position: relative;
  top: -44px;
  left: -16px;
  font-size: smaller;
  color: var(--color-primary);
}
.folks-tray {
  width: 20%;
  float: right;
}
.folks {
  display: flex;
}
.folk {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
  font-size: smaller;
  border: 1px solid var(--color-primary);
  margin-right: 5px;
}
